* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
}

/* HEADER */
header {
  background: white;
  padding: 20px 80px;
  border-bottom: 1px solid #eee;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav ul {
  display: flex;
  list-style: none;
  gap: 30px;
}

.hero {
  padding: 120px 80px;
  background: #f5f9ff;
  
}

.hero h1 {
  font-size: 48px;
  margin-bottom: 20px;
}

.hero p {
  font-size: 18px;
  margin-bottom: 30px;
}

.hero .btn {
  background: #0077ff;
  color: white;
  padding: 15px 30px;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
}

/* DIVS CONTAINER */
.container {
  max-width: 1200px;
  margin: auto;
  padding: 0 20px;

}