* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html{
scroll-behavior:smooth;
}
section{
  padding: 190px 0;
  scroll-margin-top: 300px;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;

}
h1,h2,h3,h4{  font-family: 'Poppins', sans-serif;
}

body {
font-family: 'Inter', sans-serif;

}

a{
  text-decoration: none;
}

#services{
padding: 120px 0;
}

#about{
padding: 120px 0;
}

#testimonios{
padding: 120px 0;
}

#contact{
padding: 120px 0;
}




/* DIVS CONTAINER */
.container {
  max-width: 1400px;
  margin: auto;
  padding: 0 20px;

}



/* HEADER */
header {
  background: white;
  padding: 0px 10px;
  border-bottom: 1px solid #eee;
  z-index: 100;


}

/* menu hamburg*/
.hamburger {
  display: none;
  font-size: 28px;
  cursor: pointer;
}



/* NAV */

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  padding:20px 80px;
  background:white;
  z-index:1000;
  
}

.nav-links {
  display: flex;
  list-style: none;
  gap: 30px;
}

.nav-links a {
  text-decoration: none;
  color: #333;
  font-weight: 500;
  font-size: 16px;
  transition: 0.3s;

}

.nav-links a:hover {
  color: #0077ff;
}

.cajaLogo{
display: flex;
align-items: center;
gap: 10px;
}
  
.cajaLogo h2 {
  font-size: 20px;
  color: #0077ff;
  font-weight: 700;
}

.logo {
  width: 50px;
  height: 50px;
  font-size: 40px;
  width: auto;


}
.logo:hover{
  background-color: #0077ff;
  border-radius: 50%;
}
.hero {
background: #f5f7fb;
}
.hero-container{
display:flex;
align-items:center;
justify-content:space-between;
}

.hero-info{
flex:1;
}
.hero-info h1{
font-size: 42px;
font-weight: 700;
margin-bottom: 20px;
color: #1a1a1a;
}
.hero-img{
flex:1;
}

.hero-img img{
width:100%;
max-width:380px;
border-radius:14px;
box-shadow:0 10px 25px rgba(0,0,0,0.1);
}

.hero-info p{
font-size: 18px;
color: #555;
margin-bottom: 25px;
line-height: 1.6;
}

.btn{
display:inline-block;
background:#2f80ed;
color:white;
padding:14px 28px;
border-radius:8px;
text-decoration:none;
font-weight:600;
transition:0.3s;
}

.btn:hover{
background:#1c60b9;
}

.badge{
background:#e6f0ff;
color:#2f80ed;
padding:6px 12px;
border-radius:20px;
font-size:14px;
display:inline-block;
margin-bottom:15px;
}

/* about */
.about {

  text-align: center;
  background-color: #f7f7f7;
}

.about p {
  max-width: 700px;
  margin: auto;
  margin-top: 20px;
  line-height: 1.6;
}

.about-grid { 
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: auto auto;
  gap: 16px;
  margin-top: 2rem; 
  grid-template-areas: 
  "AB1 AB2 AB2 AB3"
  "AB1 AB4 AB4 AB3"
  ;
  
}

.AB1{grid-area: AB1;}
.AB2{grid-area: AB2;}
.AB3{grid-area: AB3;}
.AB4{grid-area: AB4;}



.about-card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: #fff;
  border: 1px solid #e5e7eb;
  border-radius: 12px;
  padding: 1.25rem 1.5rem; 

  }
.about-card .icon {
   width: 36px; height: 36px; border-radius: 8px; display: flex; align-items: center; justify-content: center; margin-bottom: 12px; font-size: 16px; 
  }
.about-card h3 {
   font-size: 15px; font-weight: 600; margin: 0 0 8px; color: #111; 
  }
.about-card p {
   font-size: 14px; color: #555; line-height: 1.6; margin: 0; 
  }
.about-hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #f9fafb; border-radius: 12px; padding: 2rem; margin-bottom: 0; border: 1px solid #e5e7eb; 
  }
.about-hero h2 {
   font-size: 22px; font-weight: 600; margin: 0 0 12px; color: #111; 
  }
.about-hero p {

   font-size: 15px; color: #555; line-height: 1.7; margin: 0; 
  }

/* servicios */
.servicios-lista {
  display: flex;
  flex-direction: column;
  gap: 60px;
  padding: 0px 40px;
}

.servicio-item {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 80px;
  opacity: 0;
  transition: transform 0.7s ease, opacity 0.7s ease;
}

.servicio-item img {
  width: 45%;
  height: 300px;
  object-fit: cover;
  border-radius: 16px;
  flex-shrink: 0;
}

.servicio-texto {
  flex: 1;
}

.servicio-texto h3 {
  font-size: 22px;
  margin-bottom: 12px;
}

.servicio-texto p {
  font-size: 15px;
  line-height: 1.7;
  color: #555;
}

/* Estado inicial: escondidos a los costados */
.desde-derecha {
  transform: translateX(100px);
}

.desde-izquierda {
  transform: translateX(-100px);
  flex-direction: row-reverse; /* imagen a la derecha */
}

/* Cuando entran en pantalla */
.servicio-item.visible {
  opacity: 1;
  transform: translateX(0);
}

/* Mobile */
@media (max-width: 768px) {
  .servicio-item,
  .desde-izquierda {
    flex-direction: column;
    transform: translateX(0);
    opacity: 0;
    transform: translateY(40px);
  }

  .servicio-item img {
    width: 100%;
  }
}

/* contacto */
.contact {
  padding: 0px 0;
  background: #f7f7f7;
  text-align: center;
  gap: 130px;
}

.contact p {
  margin: 10px 0;
}

.contact a {
  color: #0077ff;
  text-decoration: none;
  font-weight: 500;
}

#contact form{
  max-width:500px;
  margin:auto;
  display:flex;
  flex-direction:column;
  gap:15px;
}

#contact input,
#contact textarea{
  padding:12px;
  border-radius:8px;
  border:1px solid #ccc;
  font-size:16px;
}

#contact button{
  padding:12px;
  border:none;
  background:#0a7cff;
  color:white;
  border-radius:8px;
  cursor:pointer;
}

#contact button:hover{
  background:#005fd1;
}

.GoogleMaps{
margin-top: 20px;

}
.GoogleMaps iframe{
  border-radius: 30px;
  width: 80%;
}

/* testimonios */
.testimonios {
  padding: 0px 0;
  background: #f7f7f7;
  text-align: center;
}

.testimonios h2 {
  margin-bottom: 40px;
}

.testimonios-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr); 
  gap: 30px;
  place-items: center;
}

.testimonio {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  background: white;
  padding: 25px;
  border-radius: 12px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.08);
}   
.testimonio p {
  font-size: 15px;
  line-height: 1.7;
  color: #555;
  font-style: italic;
}
.testimonio h4 {
  font-size: 15px;
  color: #111;
  margin: 0;
}
.imgTest{
  width: 80px;
  height: 80px;
  border-radius: 50%; 
  object-fit: cover;
}
/* BENEFITS */
.benefits{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 60px 20px;
  background-color: #f5f7fa;
  text-align: center;

}

.benefits h2{
    font-size: 28px;
    margin-bottom: 40px;
}
.benefits-grid{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto auto;
  grid-template-areas:
  "experiencia experiencia atencion"
  "tecnologia  tecnologia  atencion";
  gap: 30px;

}
.benefit--experiencia { grid-area: experiencia; }
.benefit--tecnologia  { grid-area: tecnologia; }
.benefit--atencion    { grid-area: atencion; }

.imgBenefit {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 8px;
}
.benefit--atencion {
  display: flex;
  flex-direction: column;
  justify-content: center; 
  align-items: center;
}




.benefit{
    background: white;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.08);
    transition: transform 0.2s ease;

}

.benefit:hover{
    transform: translateY(-5px);
}

.benefit h3{
    margin-bottom: 10px;
}

.benefit p{
    font-size: 14px;
    color: #555;
}

.imgBenefit{
  width: 180px;
  height: 180px;
  border-radius: 10%;
}
/* CTA */
.cta {
  padding: 80px 0;
  text-align: center;
  background: #0077ff;
  color: white;
}

.cta p {
  margin: 20px 0;
}

.cta-btn {
  display: inline-block;
  background: white;
  color: #0077ff;
  padding: 15px 30px;
  border-radius: 8px;
  text-decoration: none;
  font-weight: bold;
}

.foot{
  display: flex;
  justify-content: space-between;
  padding: 0px 20px;
  text-align: center;
}


/* RESPONSIVE */



@media (max-width: 768px) {
  .testimonios-grid {
    grid-template-columns: 1fr;
  }
  .hero-container{
flex-direction:column;
text-align:center;
}

.hero-img img{
max-width:300px;
}

.services{
  padding: 100px;
}

.nav-links {
    flex-direction: column;
    align-items: center;
}

.hero-text {
  margin-top: 20px;
}

.hero-text h1 {
    font-size: 32px;
}

.services {
    text-align: center;
}

.testimonios-grid {
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
}

.testimonio {
  width: 90%;
  max-width: 400px;
}

.GoogleMaps{

  width: 100%;


}
.GoogleMaps iframe{
  width: 100%;
}

.about-grid{
  grid-template-columns: 1fr;
  grid-template-areas: 
  "AB1"
  "AB2"
  "AB3"
  "AB4"
  ;
}

}


/* FOOTER */
.whatsapp-float{
  position: fixed;
  bottom:30px;
  right:30px;
  animation: pulse 1.5s infinite;

}
.wspIcon{
  width: 90px;
    border-radius: 30px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.40);

}
.wspIcon:hover {
  background-color: #000000f3;

}

.whatsapp-float:hover{
animation: none;
transform: scale(1.1);
}
@keyframes pulse {

0%{
transform: scale(1);
}

50%{
transform: scale(1.1);
}

100%{
transform: scale(1);
}

}

footer{
background:#1f2937;
color:white;
padding:30px 20px;
}

.footer-container{
max-width:1100px;
margin:auto;
display:flex;
justify-content:space-between;
align-items:center;
flex-wrap:wrap;
gap:20px;
}

.footer-container p{
margin:5px 0;
font-size:14px;
opacity:0.9;
}

.footer-bottom{
text-align:center;
margin-top:20px;
font-size:13px;
opacity:0.7;
}

/* RESPONSIVE */
@media (max-width: 768px) {

.hamburger{
  display: block;
}



.nav-links{
  display: none;
}

.nav-links.open {
  display: flex;
  flex-direction: column;
  position: absolute;

  top: 50px;
  right: 0px;

  background: white;
  padding: 15px;

  border-radius: 10px;
  box-shadow: 0 8px 20px rgba(0,0,0,0.1);

  gap: 15px;
  width: 180px;

}

}


@media (max-width: 600px) {
  .benefits-grid {
    grid-template-columns: 1fr;
    grid-template-areas:
      "experiencia"
      "tecnologia"
      "atencion";
  }
}